/* styles.css */
body {
  background-color: #f1f5f8;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#btn:hover {
  background: #444;
}
